.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & form {
        width: 100%;
        box-shadow: 2px 2px 8px -4px var(--bs-dark);
        padding: 16px;
        border-radius: 8px;
        & .login-logo {
            width: 128px;
            height: 128px;
            margin: auto;
            border-radius: 50%;
            overflow: hidden;
        }
        & .form-control {
            box-shadow: none;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right: transparent;
            border-radius: 0;
        }

        & .btn-primary {
            border-radius: 50px;
            box-shadow:4px 4px 8px -4px var(--bs-dark);
        }
    }
}
